#book {
   /* background: url("images/book.png") no-repeat;*/
    position: absolute;
    width: 986px;
    height: 493px;
}

.field-name-body{position: relative;width: 986px;height: 493px;}
.page-node-edit .field-name-body{position: relative;width: auto;height: auto;}

#pages section {
    /*background: url("images/paper.png") no-repeat;*/
    display: block;
    width: 493px;
    height: 493px;
    position: absolute;
    left: 493px;
    top: 8px;
    overflow: hidden;
}
#pages section.odd {
   /* left: 16px;*/

}
    #pages section > * {
        display: block;
        /*width: 400px;*/
      /*  height: auto;
        font-size: 14px;
        padding: 10px 0 0 25px;*/
    }
    #pages section p,
    #pages section h2 {
        padding: 3px 35px;
        line-height: 1.4em;
        text-align: justify;
    }
    #pages section h2{
        margin: 15px 0 10px;
    }

#pageflip-canvas {
    position: absolute;
    z-index: 100;
}
