body{background-color:#F1CA6B;color:#000000;}

.topArea{background-color:#270255;}
.topArea a{color:#FAFAFA;}
#admin-menu{background:#084f7b none;box-shadow:0 0 0 transparent;}
#admin-menu .dropdown a {color: #FAFAFA;}
#content{}
#footer-wrapper{background-color:#270255;border-top:1px solid #084f7b;color:#ffffff;}

a{color:#732f0e;}
.user-name{color:#ff5a00;}


#name-and-slogan{color:#61450b;}
#name-and-slogan a{color:#61450b;}

#main-wrapper{/*background-color:#f7e9cc;border:1px solid #cbb17a;*/}
#main-wrapper .innerwrapper{/*box-shadow:0px 0px 14px #4c370b;*/}
input.form-text{background-color:#ffffff;border:1px solid #d5d6d3;}
input.form-submit{background-color:#084f7b;color:#ffffff;border:0px;}
#block-search-form input.form-submit{background-color:#8f8c93;border:0px;}

#content .view{}
.views-table{background-color: #ffffff;}
.views-table tr.even{background-color: #f6f6f6;border-bottom: 0px;}
.views-table tr.odd {background-color: #e9e4e4;border-bottom: 0px;}
.views-table thead tr{background-color: #8f8c93;color:#fff;}

#block-system-main-menu ul.menu li a{color:#644E00;}
#block-system-main-menu ul.menu li a:hover{color:#A18203;}
#block-system-main-menu ul.menu li.active-trail a{color:#A18203;}

