/* layout */
html{}
body{overflow-x: hidden;padding:0;position:relative;margin:0;min-width:1240px;width:100%;font-family:Arial;font-size:14px;background:transparent url(../images/card/alla.png) no-repeat center 190px;background-attachment:fixed;}
html body.admin-menu{margin-top: 30px !important;}
#admin-menu{top: -30px;}

.wrapper{width:1024px;margin:0 auto;height:100%;}
.topArea{width:100%;height:25px;line-height:25px;float:left;margin:0 0 12px;}
.topArea #secondary-menu{width:78%;float:left;text-align:right;margin:0 0 0 2%;}

.top-bg{position:absolute;height:70px;top:110px;left:122px;right:122px;background:transparent url(../images/card/top-bg.png) repeat-x center top;opacity:.7;}
.top-bg-l{position:absolute;height:121px;width:122px;top:110px;left:0;background:transparent url(../images/card/tl-bg.png) no-repeat center top;opacity:.7;}
.top-bg-r{position:absolute;height:121px;width:122px;top:110px;right:0;background:transparent url(../images/card/tr-bg.png) no-repeat center top;opacity:.7;}
.r-bg{position:absolute;width:72px;top:231px;right:0;bottom:124px;background:transparent url(../images/card/r-bg.png) repeat-y center top;opacity:.7;}
.l-bg{position:absolute;width:72px;top:231px;left:0;bottom:124px;background:transparent url(../images/card/l-bg.png) repeat-y center top;opacity:.7;}
.bot-l-bg{position:absolute;height:124px;width:123px;bottom:0;left:0;background:transparent url(../images/card/bl-bg.png) no-repeat center top;opacity:.7;}
.bot-r-bg{position:absolute;height:124px;width:123px;bottom:0;right:0;background:transparent url(../images/card/br-bg.png) no-repeat center top;opacity:.7;}
.bot-bg{position:absolute;height:70px;bottom:0;left:123px;right:123px;background:transparent url(../images/card/bot-bg.png) repeat-x center bottom;opacity:.7;}

.bgimg{position:fixed;top:0;z-index:-1;left:0;right:0;display:none;}
.bgimg img{width:100%;height:auto;}

#header{margin:0 0 10px;position: relative;padding:10px 0 0;height:90px;}
.region-header{}
#sidebar-first{width:200px;margin:0;float:left;position:relative;z-index:2;}
#messages{}
#featured{}
#main-wrapper{position:relative;z-index:0;border-radius:7px;margin: 0 0 70px;padding: 55px 0 0;}
#main-wrapper .innerwrapper{min-height: 400px;}
#content{width:802px;float:left;}
.two-sidebars #content{width:602px;}
.no-sidebars #content{width:1010px;}
#sidebar-second{width:200px;float:left;}
#footer-wrapper{display:none; width:1024px;min-height:200px;margin:20px 0 0;}
#footer{width:100%;}

#sidebar-second .block{}

.user-name{position:absolute;right:0;top:10px;}
.breadcrumb a{text-decoration:none;}
/* general styling */

.view table{width:100%;}

h1.title{color:#866622;padding: 0;width: 200px;font-weight: bold;font-size: 20px;}

.topArea a{text-decoration:none;}
#admin-menu .dropdown a{font-size:14px;}
a#logo{position:absolute;z-index: 2;left: -125px;top: -12px;display:none;}
a#logo img{}
#name-and-slogan{text-align: center;width: 100%;font-size: 20px;position: absolute;top: -40px;height:139px;overflow:hidden;text-indent:-999px;background:transparent url(../images/slogan.png) no-repeat center;}
#name-and-slogan h1{margin:0;font-size:30px;}
#name-and-slogan a{text-decoration:none;}
ul.menu {padding: 0;margin:0;}
.topArea ul.inline {margin: 0;display:block;}
ul.inline li {padding: 0 0 0 0.5em;}
.views-table{width:100%;border-collapse: separate;}
.views-table thead th {border-bottom:0px;padding:5px 0 5px 20px;}
.views-table tbody td {padding:5px 0 5px 20px;}
.item-list ul {margin: 0;padding: 10px 0;}

#content .view{padding:10px 5px;}

/* search bar and forms*/
#block-search-form{position:absolute;right:0;bottom:0px;}
#block-search-form input.form-text{background-color:transparent;outline:0px;width:180px;padding:0 10px;line-height:25px;height:25px;}
/*input.form-text{outline:0px;line-height:25px;height:25px;}
input.form-autocomplete{outline:0px;line-height:inherit;height:auto;}
input.form-submit{cursor:pointer;width:auto;padding:0 10px;line-height:27px;height:27px;}*/
#block-search-form input.form-submit{cursor:pointer;overflow:hidden;text-indent:-999px;width:35px;padding:0;line-height:25px;height:25px;background-image:url(../images/search.png);background-repeat:no-repeat;background-position:center;}

.view-written-material .item-list ul{text-align: center;}
.view-written-material h3{font-size: 25px;text-align: center;}
.view-written-material .views-row{min-height:124px;text-align:center;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;}
.view-written-material .views-row .views-field-title{margin:0 0 5px;}


/* main menu */
#block-system-main-menu{position:absolute;bottom: 8px;left: 0;}
#block-system-main-menu ul.menu li{margin:0;list-style:none outside none;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;text-align:center;}
#block-system-main-menu ul.menu li.active-trail{/*background:transparent url(../images/active.png) no-repeat 100% center;*/}
#block-system-main-menu ul.menu li a{background-position:left center !important;margin: 0;padding:0;text-decoration:none;font-size:20px;display:block;font-weight:bold;}
#block-system-main-menu ul.menu li ul{display:none;}

.view-music table{text-align:center;}
.view-music .views-field-name{margin:0 0 10px;}
.view-music .views-field-name a{font-weight:bold;text-decoration:none;}
