body{background-color:#3d1804;color:#000000;}

.topArea{background-color:#270255;}
.topArea a{color:#FAFAFA;}
#admin-menu{background:#084f7b none;box-shadow:0 0 0 transparent;}
#admin-menu .dropdown a {color: #FAFAFA;}
#content{background-color:#f1f1f1;border:1px solid #d5d6d3;}
#footer-wrapper{background-color:#270255;border-top:1px solid #084f7b;color:#ffffff;}

a{color:#ff5a00;}
.user-name{color:#ff5a00;}


#name-and-slogan{color:#4e4f4f;}
#name-and-slogan a{color:#4e4f4f;}

#main-wrapper{background-color:#ffffff;border:1px solid #d5d6d3;}
input.form-text{background-color:#ffffff;border:1px solid #d5d6d3;}
input.form-submit{background-color:#084f7b;color:#ffffff;border:0px;}
#block-search-form input.form-submit{background-color:#270255;border:0px;}

#content .view{background-color: #ffffff;border:1px solid #d5d6d3;}
.views-table{background-color: #ffffff;}
.views-table tr.even{background-color: #f6f6f6;border-bottom: 0px;}
.views-table tr.odd {background-color: #e9e4e4;border-bottom: 0px;}
.views-table thead tr{background-color: #8f8c93;color:#fff;}

#block-system-main-menu ul.menu li a{color:#ffffff;}
#block-system-main-menu ul.menu li a:hover{color:#fff000;}
#block-system-main-menu ul.menu li.active-trail a{color:#fff000;}
