/* layout */
.topArea{float:right;}
.topArea #secondary-menu{float:right;text-align:left;margin:0 2% 0 0;}
#header{float:right;margin:0 2% 0 0;}
.region-header{float:left;text-align: left;}
#sidebar-first{float:right;margin:0 2% 0 -2px;}
#messages{float:right;}
#featured{float:right;}
#main-wrapper{float:right;}
#footer-wrapper{float:right;}
#footer{float:right;margin:0 2% 0 0;}

/* general styling */
a#logo{float:right;}
#name-and-slogan{right:200px;left:auto;;}
ul.inline li {padding: 0 0.5em 0 0;}

#block-search-form{right:auto;left:0;}

.user-name{left:0;right:auto;}

.views-table thead th {padding:5px 20px 5px 0;}
.views-table tbody td {padding:5px 20px 5px 0;}

#admin-menu .dropdown .admin-menu-action {float: left !important;}
#admin-menu .dropdown + .dropdown + .dropdown{float: left;width: 300px;}
