/* layout */
html{height: 100%;}
body{padding:0;margin:0;width:100%;font-family:Arial;font-size:14px;height: 100%;}
.wrapper{width:90%;height:100%;}
.topArea{width:100%;height:25px;line-height:25px;float:left;margin:0 0 12px;}
.topArea #secondary-menu{width:78%;float:left;text-align:right;margin:0 0 0 2%;}

#header{height:70px;width:98%;float:left;margin:0 0 0 2%;position: relative;}
.region-header{width:500px;float:right;text-align: right;}
#sidebar-first{width:12%;float:left;margin:30px -1px 0 2%;position:relative;z-index:2;}
#messages{width:86%;float:left;}
#featured{width:88%;float:left;}
#main-wrapper{width:81.9%;height:80%;float:left;padding: 1% 2%;position:relative;z-index:0;min-height: 400px;}
#content{width:98%;padding: 1%;height:90%;overflow:auto;}
#sidebar-second{width:100%;margin:0 auto;}
#footer-wrapper{display:none; width:100%;min-height:200px;float:left;margin:20px 0 0;}
#footer{width:100%;float:left;margin:0 0 0 2%;}

#sidebar-second .block{width:50%;float:left;}

.user-name{position:absolute;right:0;top:10px;}
.breadcrumb a{text-decoration:none;}
/* general styling */

.view table{width:100%;}

h1.title{margin: 0 0 10px;font-weight: normal;font-size: 20px;}
.topArea a{text-decoration:none;}
#admin-menu .dropdown a{font-size:14px;}
a#logo{width:200px;display:block;float:left;}
#name-and-slogan{width:330px;left:12%;font-size:30px;position:absolute;top:10px;}
#name-and-slogan h1{margin:0;font-size:30px;}
#name-and-slogan a{text-decoration:none;}
ul.menu {padding: 0;margin:0;}
.topArea ul.inline {margin: 0;display:block;}
ul.inline li {padding: 0 0 0 0.5em;}
.views-table{width:100%;border-collapse: separate;}
.views-table thead th {border-bottom:0px;padding:5px 0 5px 20px;}
.views-table tbody td {padding:5px 0 5px 20px;}
.item-list ul {margin: 0;padding: 10px 0;}

#content .view{padding:10px 5px;}

/* search bar and forms*/
#block-search-form{position:absolute;right:0;top:20px;}
input.form-text{outline:0px;line-height:25px;height:25px;}
input.form-autocomplete{outline:0px;line-height:inherit;height:auto;}
#block-search-form input.form-text{outline:0px;width:380px;padding:0 10px;line-height:25px;height:25px;}
input.form-submit{cursor:pointer;width:auto;padding:0 10px;line-height:27px;height:27px;}
#block-search-form input.form-submit{cursor:pointer;overflow:hidden;text-indent:-999px;width:75px;padding:0;line-height:25px;height:25px;background-image:url(../images/search.png);background-repeat:no-repeat;background-position:center;}

/* main menu */
#block-system-main-menu ul.menu li{list-style:none outside none;display:block;text-align:left;}
#block-system-main-menu ul.menu li.active-trail{background:transparent url(../images/active.png) no-repeat 100% center;}
#block-system-main-menu ul.menu li a{background-position:left center !important;margin: 0 0 10px;padding:0;text-decoration:none;font-size:17px;display:block;line-height:48px;}
#block-system-main-menu ul.menu li ul{display:none;}
/*
#block-system-main-menu ul.menu li a{background:transparent url(../images/home.png) no-repeat;}
#block-system-main-menu ul.menu li.active-trail a{background:transparent url(../images/home-hover.png) no-repeat;}
#block-system-main-menu ul.menu li:hover a{background:transparent url(../images/home-hover.png) no-repeat;}

#block-system-main-menu ul.menu li + li a{background:transparent url(../images/observe.png) no-repeat;}
#block-system-main-menu ul.menu li + li.active-trail a{background:transparent url(../images/observe-hover.png) no-repeat;}
#block-system-main-menu ul.menu li + li:hover a{background:transparent url(../images/observe-hover.png) no-repeat;}

#block-system-main-menu ul.menu li + li + li a{background:transparent url(../images/book.png) no-repeat;}
#block-system-main-menu ul.menu li + li + li.active-trail a{background:transparent url(../images/book-hover.png) no-repeat;}
#block-system-main-menu ul.menu li + li + li:hover a{background:transparent url(../images/book-hover.png) no-repeat;}

#block-system-main-menu ul.menu li + li + li + li a{background:transparent url(../images/cards.png) no-repeat;}
#block-system-main-menu ul.menu li + li + li + li.active-trail a{background:transparent url(../images/cards-hover.png) no-repeat;}
#block-system-main-menu ul.menu li + li + li + li:hover a{background:transparent url(../images/cards-hover.png) no-repeat;}

#block-system-main-menu ul.menu li + li + li + li + li a{background:transparent url(../images/video.png) no-repeat;}
#block-system-main-menu ul.menu li + li + li + li + li.active-trail a{background:transparent url(../images/video-hover.png) no-repeat;}
#block-system-main-menu ul.menu li + li + li + li + li:hover a{background:transparent url(../images/video-hover.png) no-repeat;}

#block-system-main-menu ul.menu li + li + li + li + li  + li a{background:transparent url(../images/contact.png) no-repeat;}
#block-system-main-menu ul.menu li + li + li + li + li + li.active-trail a{background:transparent url(../images/contact-hover.png) no-repeat;}
#block-system-main-menu ul.menu li + li + li + li + li + li:hover a{background:transparent url(../images/contact-hover.png) no-repeat;}*/