body{overflow-x:hidden;margin:0;padding:0;font-size:14px;color:#000;background:#1C0023;font-family:Arial;}
#admin-menu-wrapper {overflow: visible;}
html body.admin-menu {margin-top: 0 !important;}
html body.admin-menu .wrapp{margin-top: 30px;}

.wrapp{background:#D6B357 url(../images/topbg-repeat.png) repeat-x top;}
.wrapper{width:100%;margin:0;background:transparent url(../images/topbg.png) no-repeat center top;}
.not-front .wrapp{background:#D6B357 url(../images/topbg-repeat-inner.png) repeat-x top;}
.not-front .wrapper{background:transparent url(../images/topbg-inner.png) no-repeat center top;}
.container{width:960px;margin:0 auto;padding:0;position: relative;}

#header{height:323px;}
.not-front #header{height:159px;}
#content{min-height: 300px;margin:30px 0;}
.one-sidebar #content{width:662px;float:left;}
.node-type-book #content{width:682px;position: relative;}
.page-node-1171 #content{width:682px;position: relative;}
.node-type-poem #content{width:682px;position: relative;}
#sidebar-first{width:245px;float:right;background:#1C0023;padding:20px;margin:30px 0 20px;}
.node-type-book #sidebar-first{width:220px;}
.page-node-1171 #sidebar-first{width:220px;}
.node-type-poem #sidebar-first{padding: 20px 0;}
.page-quote #sidebar-first{padding: 10px; width:245px;}
#footer-wrapper{height:224px;background:transparent url(../images/footerbg-repeat.png) repeat-x center top;}
#footer-wrapper .section{height:224px;width:100%;background:transparent url(../images/footerbg.png) no-repeat center top;}
#footer{width:960px;margin:0 auto;padding:0;height: 100%;position: relative;}
#featured{color: #ECECEC;padding:14px 0 0;min-height:382px;margin:0 0 20px;background:#1C0023 url(../images/acrosswood.jpg) repeat-x center top;}
#featured .section{height:100%;min-height:382px;width:100%;background:transparent url(../images/acrosswood.jpg) repeat-x center bottom;}
#featured .region-featured{width:900px;margin:0 auto;padding:30px;}
#highlighted{padding:0;min-height:282px;margin:0 0 20px;}
#highlighted .region-highlighted{width:960px;margin:0 auto;padding:30px 0;}
.maintenance-page{text-align:center;color:#fff;}
#breadcrumb{display:none;}

#content h1{margin-top:0;}
.node-type-book #content h1{background-color: #1C0023;height: 35px;line-height: 35px;padding: 0 10px;color: #D2D2D2;margin: 0;}
.node-type-poem #content h1{background-color: #1C0023;height: 35px;line-height: 35px;padding: 0 10px;color: #D2D2D2;margin: 0;}
.page-node-1171 #content h1{background-color: #1C0023;height: 35px;line-height: 35px;padding: 0 10px;color: #D2D2D2;margin: 0;}

.ui-accordion .ui-accordion-content-active{height: 200px !important;}

.front #content h1{display:none;}
.front #block-system-main{width:220px;color: #161616;float: right;text-align:center;background:transparent url(../images/block.png) no-repeat center;height:234px;}
.front #block-views-cards-pack-block-2{text-align:center;width: 426px;float: left;}
.front #block-views-cards-pack-block-3{width: 426px;float: right;padding: 0 0 0 20px;}
.front #block-views-cards-pack-block-2 h2{margin:0;}
.front #block-views-cards-pack-block-3 h2{margin:0;}
.front #block-views-cards-pack-block-3 .views-field-field-category{margin:10px 0;}
.front #block-views-cards-pack-block-3 .views-field-field-category *{display:inline;}
.front #block-views-cards-pack-block-3 .views-field-field-taken-from *{display:inline;}
.front .region-featured:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}

a{color:#fff;}
a, a:visited { color: #fff; outline: 0; text-decoration: none;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}
a:hover, a:focus { color: #0ad1e5; }

#block-system-main-menu {margin: 36px 0 0;}
#block-system-main-menu ul.menu{padding:0;margin:0;}
#block-system-main-menu ul.menu li{position:relative;padding:0;margin:0;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;}
#block-system-main-menu ul.menu li a{position:relative;z-index:1;text-transform:uppercase;padding:0 12px;display:block;line-height:40px;height:40px;color:#fe8a0c;text-decoration:none;}
#block-system-main-menu ul.menu li .bg{background-color:#fbfaff;position:absolute;top:0;left:0;right:0;bottom:0;display:none;-moz-opacity:.05; filter:alpha(opacity=05); opacity:.05;}
#block-system-main-menu ul.menu li a:hover{color:#fff;}
#block-system-main-menu ul.menu li a.active{color:#fff;}
#block-system-main-menu ul.menu li.active-trail > a{color:#fff;}
#block-system-main-menu ul.menu li:hover > .bg{display:block;}
#block-system-main-menu ul.menu li.active-trail > .bg{display:block;}
#block-system-main-menu ul.menu li a.active + .bg{display:block;}
#block-system-main-menu ul.menu li ul{z-index: 20;padding: 0;display:none;background:#120012;position:absolute;left:0;top:40px;}
#block-system-main-menu ul.menu li ul li{display:block;}
#block-system-main-menu ul.menu li ul li a{display:block;white-space: nowrap;padding: 0 24px;}
#block-system-main-menu ul.menu li:hover ul{display:block;}
#block-system-main-menu ul.menu li.first + li + li + li:hover ul{display:none;}

#sidebar-first h2{color:#acacac;margin-top: 0;}
#sidebar-first h3{color:#acacac;}
#sidebar-first table{width: 100%;text-align: center;}
#sidebar-first a{color:#acacac;text-decoration:none;}
#block-system-main a:hover{color:#fff;}
#sidebar-first a.active{color:#fff;}
#sidebar-first #block-views-poem-list-block .ui-accordion-content a{color:#acacac;font-size: 12px;}
#sidebar-first #block-views-poem-list-block .ui-accordion-content a.active{color:#fff;font-weight:bold;}
#sidebar-first #block-views-poem-list-block .ui-accordion-content a:hover{color:#fff;}

/*#sidebar-first .item-list ul li{margin: 0 5px 10px 0;padding: 0 15px 0 0;list-style-type: none;background: transparent url(../images/bullet.png) no-repeat right;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;}*/
#sidebar-first .item-list ul li{min-width:101px;float: left;height:27px;line-height:27px;margin: 0 0 10px 0;padding: 0 0 0 21px;list-style-type: none;background: transparent url(../images/tag.png) no-repeat left;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;}
#sidebar-first .item-list ul li a{color: black;display: block;padding: 0 6px 0 0;background: #EFEFEF;line-height: 25px;border-radius: 0 5px 5px 0;margin: 1px 0 0;white-space: nowrap;}

#sidebar-first .region-sidebar-first{height:100%;}
#sidebar-first .section{height:100%;}
#sidebar-first #block-views-quotes-block-1{height:100%;}
#sidebar-first #block-views-quotes-block-1 .content{height:87%;margin: 0 -18px 0 0;overflow-y:auto;overflow-x:hidden;}


#logo img{margin: 0 0 -57px -31px;}

#block-block-1{margin: 50px 0 0;}
#block-block-1 h1{font-size: 26px;margin:0;color: #fff;}
#block-block-1 h2{font-size: 18px;margin: 5px 0 0;color: #fff;}

#block-search-form{position: absolute;top: 50px;right: 0;width: 170px;border-radius: 10px;height: 27px;line-height: 17px;color: white;background: #D6B357 url(../images/go.png) no-repeat 90%;}
#block-search-form input{background:transparent;border:0px;width:120px;height:27px;line-height:27px;outline:none;padding:0 0 0 15px;color:#fff;}
#block-search-form input.form-submit{width:30px;text-indent:-999px;cursor:pointer;height:27px;line-height:27px;outline:none;padding:0;}

#block-custom-search-blocks-2{margin: 0 0 10px 7px;width: 228px;border-radius: 10px;height: 27px;line-height: 17px;color: white;background: #494949 url(../images/go.png) no-repeat 90%;}
#block-custom-search-blocks-2 input{background:transparent;border:0px;width:170px;height:27px;line-height:27px;outline:none;padding:0 0 0 15px;color:#fff;}
#block-custom-search-blocks-2 input.form-submit{width:30px;text-indent:-999px;cursor:pointer;height:27px;line-height:27px;outline:none;padding:0;}

#block-custom-search-blocks-1{margin:0 0 20px;width:228px;height:37px;line-height:37px;background:transparent url(../images/search.png) no-repeat center;}
#block-custom-search-blocks-1 input{background:transparent;border:0px;width:170px;height:37px;line-height:37px;outline:none;padding:0 0 0 15px;}
#block-custom-search-blocks-1 input.form-submit{width:30px;text-indent:-999px;cursor:pointer;height:37px;line-height:37px;outline:none;padding:0;}

#block-views-exp-quotes-page-page{margin:0 0 20px;width:228px;height:37px;line-height:37px;background:transparent url(../images/search.png) no-repeat center;}
#block-views-exp-quotes-page-page input{background:transparent;border:0px;width:170px;height:37px;line-height:37px;outline:none;padding:0 0 0 15px;}
#block-views-exp-quotes-page-page input.form-submit{width:30px;text-indent:-999px;cursor:pointer;height:37px;line-height:37px;outline:none;padding:0;}
#block-views-exp-quotes-page-page label{display:none;}

#block-system-main .search-form{margin:0 0 20px;width:228px;height:37px;line-height:37px;background:transparent url(../images/search.png) no-repeat center;}
#block-system-main .search-form label{display:none;}
#block-system-main .search-form input{background:transparent;border:0px;width:170px;height:37px;line-height:37px;outline:none;padding:0 0 0 15px;}
#block-system-main .search-form input.form-submit{width:30px;text-indent:-999px;cursor:pointer;height:37px;line-height:37px;outline:none;padding:0;}

#block-block-4{position: absolute;bottom: -2px;right: 0;color: #7A7A7A;}

#block-menu-menu-footer-menu{position: absolute;bottom: 0;left: 0;}
#block-menu-menu-footer-menu ul.menu{margin:0;padding:0;}
#block-menu-menu-footer-menu ul.menu li{margin:0 0 10px;border-right:1px solid #7a7a7a;padding:0 10px 0 5px;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;list-style:none;}
#block-menu-menu-footer-menu ul.menu li.last{border-right:0px;}
#block-menu-menu-footer-menu ul.menu li a{color:#7a7a7a;text-decoration:none;}

#highlighted{text-align:center;}
#highlighted .block{width:220px;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;margin:0 0 0 140px;}
#highlighted .block img{box-shadow: 0 0 5px black;-webkit-box-shadow: 0 0 5px black;-moz-box-shadow: 0 0 5px black;}
#highlighted .blocked-view .item-list{height:auto !important;}
#highlighted #block-views-written-material-block-1{margin:0;}

#block-webform-client-block-1162{width: 260px;float: right;}
#block-webform-client-block-1162 input.form-text{padding:0 0 0 5px;background: #D6B357;width: 255px;border: 0;}
#block-webform-client-block-1162 input.form-submit{background: #D6B357;border: 0;cursor:pointer;}
#block-webform-client-block-1162 textarea{padding:0 0 0 5px;background: #D6B357;border: 0;}
#block-webform-client-block-1162 label{display:none;}
#block-webform-client-block-1162 h2{margin: 10px 0 5px;color: #888;}
#block-webform-client-block-1162 .form-item{margin-top: 0;margin-bottom: 1px;}
#block-webform-client-block-1162 .form-actions{margin-top: 0;text-align: right;}

#block-block-2{width: 680px;float: left;color: #000;font-size: 18px;}
#block-block-2 p{margin: 0;}

#block-block-3{width: 600px;margin: 17px 0 0;float: left;color: #8F8F8F;line-height: 17px;}
#block-block-3 p{margin: 0;}

.region-highlighted:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}

.blocked-view .item-list{margin: 0 0 25px;position: relative;width:100%;float:left;text-align:left;height: 347px;}

.blocked-view .item-list:first-child .inner-row {}

.blocked-view .item-list .inner-row{position:relative;width:940px;margin: 0 auto;height: 327px;overflow: hidden;}
.blocked-view .view-content .item-list:first-child{/*height: 296px;*/}
.blocked-view .view-content .item-list:first-child .gal-pager{/*margin: -20px 0 0;*/}
.blocked-view .view-content .item-list .left-arrow{height: 76px;width:90px;background:transparent url(../images/arr-left.png) no-repeat center;position:absolute;left:-15px;bottom: -25px;cursor:pointer;}
.blocked-view .view-content .item-list .right-arrow{height: 76px;width:90px;background:transparent url(../images/arr-right.png) no-repeat center;position:absolute;right:0px;bottom: -25px;cursor:pointer;}
.blocked-view .view-content .item-list .left-arrow:hover{background:transparent url(../images/arr-left-on.png) no-repeat center;}
.blocked-view .view-content .item-list .right-arrow:hover{background:transparent url(../images/arr-right-on.png) no-repeat center;}
.blocked-view .item-list + .item-list + .item-list {margin:0 0 20px;}
.blocked-view .item-list > ul{width:100%;margin:0;text-align:left;}
.blocked-view .item-list .inner-row ul{margin: 0;margin-left:0;position:absolute;top:94px;}
.blocked-view .view-content .item-list:first-child .inner-row ul{ /*top:65px;*/ }

.blocked-view .view-content .item-list:first-child .right-arrow {}
.blocked-view .view-content .item-list:first-child .left-arrow {}

.blocked-view .item-list h3{text-align:center;background:transparent url(../images/deviding.png) no-repeat center top;padding:30px 0 20px;margin:20px 0 /*0*/;}
.blocked-view .view-content > .item-list:first-child h3{ /*background:transparent none;padding:0;margin:20px 0;*/}
.blocked-view .item-list h3 a{color:#555;font-weight:bold;text-decoration:none;font-size: 20px;}
.blocked-view .views-row{float:left;vertical-align: top;position:relative;text-align: center;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;width:220px;height:212px;padding: 20px 0 0;margin:0 15px 0 0;background:transparent url(../images/block2.png) no-repeat center;}
.blocked-view .views-row-first{}
.blocked-view .views-row .views-field-title{margin:10px 0;}
.blocked-view .views-row .views-field-title a{color:#808080;font-weight:bold;text-decoration:none;}
.blocked-view .views-row .views-field-name{margin:10px 0;}
.blocked-view .views-row .views-field-name a{color:#808080;font-weight:bold;text-decoration:none;}
.gal-pager{width: 100%;height: 10px;text-align: center; /*z-index: 2;*/ position: relative;}
.gal-pager .pager{cursor:pointer;margin:0 5px;width: 15px;height: 15px;background:#1C0023;border:1px solid #D6B357;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;}
.gal-pager .pager:hover{border: 1px solid #000;}
.gal-pager .pager.active{background:#D6B357;border:1px solid #1C0023;}

.node-quote.node-teaser {background:transparent url(../images/deviding-small.png) no-repeat center top;padding:30px 0 0;margin:20px 0 0;}
.content div:first-child + .node-quote.node-teaser{margin:0;padding:0;background:transparent none;}
.node-quote.node-teaser > h2{display:none;}
.node-quote.node-teaser .field-name-field-category{background-color:#1C0023;height:35px;line-height:35px;padding:0 10px;color:#d2d2d2;margin:0;}
.node-quote.node-teaser .field-name-field-category h3{margin:0;color:#d2d2d2;}
.node-quote.node-teaser .field-name-field-category a{font-size: 1.17em;text-decoration:none;color:#d2d2d2;}
.node-quote.node-teaser .field-name-field-taken-from{background-color:#1C0023;height:35px;line-height:35px;padding:0 10px;color:#d2d2d2;margin:0 0 15px;}
.node-quote.node-teaser .field-name-field-taken-from .field-label{font-size: 1.17em;margin:0;color:#d2d2d2;}
.node-quote.node-teaser .field-name-field-taken-from a{font-size: 1.17em;text-decoration:none;color:#d2d2d2;}
.node-quote.node-teaser .field-name-body{font-size: 16px;color:#1C0023;}
.node-quote.node-teaser .field-name-body p{margin: 3px 0;}
.node-quote.node-teaser .link-wrapper{display:none;}

.view-quotes-page.view-display-id-page .views-row{background:transparent url(../images/deviding-small.png) no-repeat center top;padding:30px 0 0;margin:20px 0 0;}
.view-quotes-page.view-display-id-page .views-row:first-child {margin:0;padding:0;background:transparent none;}
.view-quotes-page.view-display-id-page > h2{display:none;}
.view-quotes-page.view-display-id-page .views-field-field-category{background-color:#1C0023;height:35px;line-height:35px;padding:0 10px;color:#d2d2d2;margin:0;}
.view-quotes-page.view-display-id-page .views-field-field-category h3{margin:0;color:#d2d2d2;}
.view-quotes-page.view-display-id-page .views-field-field-category a{font-size: 1.17em;text-decoration:none;color:#d2d2d2;}
.view-quotes-page.view-display-id-page .views-field-field-taken-from{background-color:#1C0023;height:35px;line-height:35px;padding:0 10px;color:#d2d2d2;margin:0;}
.view-quotes-page.view-display-id-page .views-field-field-taken-from .views-label{font-size: 1.17em;margin:0;color:#d2d2d2;}
.view-quotes-page.view-display-id-page .views-field-field-taken-from a{font-size: 1.17em;text-decoration:none;color:#d2d2d2;}
.view-quotes-page.view-display-id-page .views-field-body{font-size: 16px;color:#1C0023;padding:25px;background:#D6B357;border-left: 10px solid #1C0023;border-right: 10px solid #1C0023;}
.view-quotes-page.view-display-id-page .views-field-body p{margin: 3px 0;}
.view-quotes-page.view-display-id-page .link-wrapper{display:none;}

.feed-icon{display:none;}

.node-book.node-full .field-name-field-date{color: #D2D2D2;font-size:20px;font-size: 20px;position: absolute;top: 1px;right: 10px;line-height: 35px;}
.node-book.node-full .field-name-field-pdf-file{width: 220px;float: right;}
.node-book.node-full .field-name-field-cover-image{margin:20px 0 0;width: 230px;float: right;clear: right;}
.node-book.node-full .field-name-body{margin:0 0 20px;padding: 0 20px 0;width: 632px;float: left;height: 500px;overflow-y: auto;background:#D6B357;border:5px solid #1C0023;border-top:0px;}

.node-poem.node-full .field-name-body{margin:0 0 20px;padding: 0 20px 0;width: 632px;float: left;height: 500px;overflow-y: auto;background:#D6B357;border:5px solid #1C0023;border-top:0px;}
#node-1171 .field-name-body{margin:0 0 20px;padding: 0 20px 0;width: 632px;float: left;height: 500px;overflow-y: auto;background:#D6B357;border:5px solid #1C0023;border-top:0px;}

ol.search-results{margin:0;padding:0;}
ol.search-results h3{background-color: #1C0023;height: 25px;line-height: 25px;padding: 0 20px;width: 642px;color: #D2D2D2;margin: 0;}
ol.search-results h3 a{text-decoration:none;}
ol.search-results h3.right{text-align:right;margin:0 0 20px;}
ol.search-results h3.right a{width:25px;height:25px;text-indent:999px;overflow:hidden;background:transparent url(../images/gosearch.png) no-repeat center;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;}
ol.search-results .search-snippet-info{padding-left: 0;padding: 10px 20px;width: 642px;height: auto;overflow-y: auto;background:#D6B357;box-shadow:0 5px 10px #7a7a7a;}

#block-views-book-details-block .views-field-field-pdf-file{margin:0 0 10px;}
#block-views-book-details-block .views-field-field-pdf-file .views-label{color:#fff;font-weight:bold;}

.views-exposed-form .views-exposed-widget {padding: 0;}

.ui-accordion h3.ui-accordion-header{background:transparent none;border:0px;padding:0;margin:0;}
.ui-accordion h3.ui-accordion-header.ui-state-active{background:transparent none;padding:0;margin:0;}
#sidebar-first .ui-accordion h3.ui-accordion-header a{color:#fff;padding-left: 15px;}
.ui-accordion .ui-widget-content{background:transparent;border:0px;padding: 0;margin: 0;}
.ui-accordion .ui-widget-content.ui-accordion-content-active{background:transparent none;border:0px;padding:0;margin:0 -10px 0 0;}
.ui-accordion .ui-widget-content .views-row{border-bottom:1px solid #807e7e;}
.ui-accordion .ui-widget-content .views-row a{display:block;line-height:25px;padding:0 0 0 15px;background:transparent url(../images/bullet.png) no-repeat 4px 7px;}
.ui-accordion .ui-accordion-header .ui-icon{display:none;}

.minplayer-song {background: whiteSmoke;}

.taxonomy-term.vocabulary-cards .taxonomy-term-description{background-color: #1C0023;}
.view-cards.view-display-id-page_1 .views-field-description{text-align: center;background-color: #1C0023;}
.view-cards.view-display-id-page_1 .views-field-nothing{background-color: #969696;padding:0 10px;line-height:30px;}
/*.view-cards.view-display-id-page_1 .views-field-description .field-content{margin:0 0 0 -30px;}*/
.view-cards.view-display-id-page_1 .views-field-description p{margin:0;}

.page-taxonomy-term .node-card.node-teaser{display:none;}
.page-taxonomy-term ul.pager{display:none;}


#lightbox #header{display:none !important;}
#lightbox #content{margin:0 !important;}
#lightbox #footer-wrapper{display:none !important;}
#lightbox h1.title{display:none !important;}
#lightbox .field-name-field-pdf-file{display:none !important;}
#lightbox .item-list{display:none !important;}
#lightbox .container{width: 1020px;}
#lightbox .tabs{display:none !important;}
#lightbox .taxonomy-term-description{width:1020px;margin: 0;}
#lightbox .taxonomy-term-description p{margin: 0;}
#lightbox .node-card.node-teaser{display:none !important;}
#lightbox .wrapper {background: none;}
#lightbox .wrapp {background: none;}
.page-cards .lightbox2-alt-layout-data #bottomNavClose, .page-cards .lightbox2-alt-layout #bottomNavClose {margin-top: 0;}
.page-cards #imageData #bottomNav {height: 1px;}

.view-cards-pack.view-display-id-page .views-row{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;}
.view-cards-pack.view-display-id-page .views-row *{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;}
.view-cards-pack.view-display-id-page .views-field-nothing{display:none;position:absolute;z-index:10;}
.view-cards-pack.view-display-id-page .views-field-nothing .field-content{}
.view-cards-pack.view-display-id-page .views-field-field-image:hover + .views-field-nothing{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;}
.view-cards-pack.view-display-id-page .views-field-nothing img{float:left;margin:0 10px 10px 0;}
.view-cards-pack.view-display-id-page .views-field-nothing p{display:none;}

input.custom-search-default-value {color: #000;}


#custom-search-blocks-form-2 .form-item{display: inline;}
#custom-search-blocks-form-2 .form-item input.form-text{padding:0 5px;}
#custom-search-blocks-form-2 .form-actions{display: inline;}
